header {
  display: flex;
  align-items: center;
  padding: 0 120px 0 200px;
}

.logo img {
  width: 20%;
}

.ul-nav {
  display: flex;
  list-style-type: none;
}

.link-item {
  margin-left: 30px;
}
