.rockets-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 120px 0 200px;
}

.rocket-card {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.rocket-img {
  width: 150px;
  height: 110px;
  display: flex;
  align-items: center;
  padding-top: 14px;
}

.rocket-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.rocket-title,
.rocket-description,
.reserve-rocket-btn {
  text-align: left;
  font-size: 12px;
}

.rocket-title {
  font-weight: 400;
}

.reserve-rocket-btn {
  background-color: rgb(4, 96, 216);
  color: #fff;
  padding: 7px;
  border-radius: 7px;
  border: none;
}